*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
padding: 10px ;
background-color: red;
margin: 16px;
}


.table {
margin-top: 200px;
border: 1px solid rgb(198, 218, 198);
border-radius: 10px;   
width: 60%;
table-layout: fixed;
margin: auto;

}


.table th{

padding: 10px;
background-color: rgba(220, 220, 220, 0.889);
font-size: smaller;
font-weight: 200;
width: 100%;
margin: auto;
}

.table td{
    text-align: center;
}