* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px dashed red;    /*default 3px */
  border-top-width: 5px;
  border-top-color: blue;
  font-size: 2rem;
  /* margin: 0.5em;
    margin-top: 0.5em; */
  padding: 0.5em;
  margin: 2em 1.5em 2em 1.5em; /*top right bottom left */
  /* margin: 2em 3em;    */
  /*topandbottom , leftandright */
  /* same for padding */
  outline: 5px dashed green;
  outline-offset: -20px ;
}

.circle{
    border: 10px solid brown;
    height: 100px;
    width: 100px;
    margin: 2em auto;
    outline: 5px dashed black;
    outline-offset: 10px;
    border-radius: 50%;
    background-color: teal;
}

p{
    text-align: justify;    /* finishes the paragraph correctly */
    text-indent: 2em;
    text-decoration: line-through;  /* gap in a paragraph initially */
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 1em;
    font-weight: 900;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    /* dev grave (inspired) */
}

a{
    text-decoration: none ;
    cursor: not-allowed;
    color: rgb(165, 42, 42);
}

a:visited{
    color: rgb(171, 42, 171);
}

a:hover,a:focus{
    color: rgb(165, 42, 42);     /*Specificity */
    opacity: 0.5;

}

a:active{
    color: yellow;
}

ol{
    list-style-type: lower-roman;
    margin: 36px;
}

ul{
    margin: 36px;
    list-style-type: none ;   /* Leaving this as square or other */
    text-align: center;
    list-style-position: inside;
    /* list-style-image: url(tick.jpg);    */
    /* list-style-position: inside; */
    /* list-style: square url(tick.jpg) inside; */

}

ul li{
    background-size: 20px 20px;
    background-image:url(tick.jpg) ;
    background-repeat: no-repeat;
    list-style-position: inside;
    text-align: center;
    background-position: center;
    padding-left: 70px;
    color: blue;
}

ul li:nth-child(2){
    color: red;
}

ol li::marker{
    color: green;
    font-size: 2em;
    /* content: 'hey'; */
}
